.navbar {
  background: radial-gradient(circle at 0, rgb(0, 24, 59) 10%, rgb(255, 171, 31) 100px);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1450px;
  /* Aumenté el ancho máximo para más espacio */
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  flex: 1;
  /* Ocupa 1 parte del espacio disponible */
  justify-content: flex-start;
  /* Alinea a la izquierda */
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  /* Ocupa 2 partes del espacio (más que los otros) */
  text-align: center;
  color: rgb(0, 0, 0);
}

.app-header p {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 0.2rem;
}

.app-header h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  flex: 1;
  /* Ocupa 1 parte del espacio disponible */
  justify-content: flex-end;
  /* Alinea a la derecha */
}

.navbar-logo {
  height: 65px;
  width: auto;
}

.navbar-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Estilos para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}
.modal-title {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 24rem;
}
.modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-size: 100% auto; /* Tamaño de la imagen */
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.1; /* Transparencia de la imagen */
    z-index: -1; /* Detrás del contenido */
    pointer-events: none; /* No interferir con clicks */
}
.navbar-WAH{
  width: 40rem;
}
.contra {
    width: 75%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    /* gray-300 */
    border-radius: 0.375rem;
    margin-left: 0.5rem;
    /* 6px */
}

.contra:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;
}

.error {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
    background-color: #fee2e2;
    border: 1px solid #f87171;
    color: #b91c1c;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    width: 75%;
}

.cancelar {
    flex: 1 1 0%;
    background-color: #6b7280;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.cancelar:focus {
    background-color: #4b5563;
}

.cancelar:hover {
    outline: none;
    box-shadow: 0 0 0 2px #6b7280;
}
.secret {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.8rem;
  margin-left: 0.5rem;
}
.Acceso {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.modal-background-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(3, 1fr);    /* 3 filas */
    gap: 100px;
    padding: 15px;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
    
}
.grid-image {
    width: 100%;
    height: 250%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.grid-image:nth-child(2) { background-image: url('../img/InA1.png'); }
.grid-image:nth-child(3) { background-image: url('../img/InA2.png'); }
.grid-image:nth-child(4) { background-image: url('../img/InA3.png'); }
.grid-image:nth-child(5) { background-image: url('../img/InA4.png'); }
.grid-image:nth-child(6) { background-image: url('../img/InA5.png'); }
.grid-image:nth-child(1) { background-image: url('../img/InA6.png'); }